<h1>Drivers#new</h1>
<p>Find me in app/views/drivers/new.html.erb</p>

 <h1>Add a new Product</h1>
      <%= simple_form_for @driver do |f| %>
      <%= f.input :name, placeholder: 'Product name please', error: 'Product name is mandatory, please specify one' %>
      <%= f.input :email %>
      <%= f.input :phone_number %>
      <%= f.input :address%>
        <div class="btn btn-primary">
        <%= f.button :submit %>
      </div>
      <% end %>
